<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe List</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full bg-blue-50">
  <div class="max-w-screen-xl mx-auto px-5 bg-white h-100">
    <div class="flex flex-col items-center">
      <h2 class="font-bold text-5xl mt-5 tracking-tight">Recipes</h2>
      <p class="text-neutral-500 text-xl mt-3">List</p>
      <p>
        <a href="/recipes/create"
          class="w-full block bg-green-500 hover:bg-green-400 focus:bg-green-400 text-white font-semibold rounded-lg px-4 py-3 mt-6">
          Add new recipe
        </a>
      </p>
    </div>
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      <% recipes.forEach((recipe, index)=> { %>
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>
                <%= recipe.name %>
              </span>
              <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <div class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              <p class="p-3 text-gray-900">Ingredients:</p>
              <ol class="p-3">
                <% recipe.ingredients.forEach(ingredient=> { %>
                  <li class="text-xs font-light mb-1">
                    <span class="font-bold">
                      <%= ingredient.name %>
                    </span> - <%= ingredient.quantity %>
                  </li>
                  <% }); %>
              </ol>
              <p class="p-3 text-gray-900">Instructions:</p>
              <ol class="p-3">
                <% recipe.instructions.forEach(instruction=> { %>
                  <li class="text-xs font-light mb-1">
                    <%= instruction %>
                  </li>
                  <% }); %>
              </ol>
            </div>

            <!-- button -->
            <div class="w-full flex">
              <a href="/recipes/<%=recipe.id%>/edit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">Edit</a>
              <form action="/recipes/delete/<%= recipe.id %>?_method=DELETE" method="POST">
                <button type="submit"
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-1">DELETE</button>
              </form>
            </div>

          </details>
        </div>
      <% }); %>
    </div>
  </div>
</body>

</html>